<form class="add_person_form" action="">
    <label>Name: <input name='person_name' type="text"/></label>
    <label>Title: <input name='person_title' type="text"/></label>
    <label>Quote: <input name='person_quote' type="text"/></label>
    <label>Photo: <input type="file" name="person_photo"></label>
    <input type="submit" value="submit"/>
</form>