<div class="container">
    <div class="advantages">
        <div class="item">
            <div class="icon"><i class="fas fa-dove"></i></div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        </div>
        <div class="item">
            <div class="icon"><i class="fas fa-brain"></i></div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        </div>
        <div class="item">
            <div class="icon"><i class="far fa-check-circle"></i></div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        </div>
    </div>
</div>
