<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% block header %}
    {% include "header.twig" %}
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    {% include "header.twig" %}
{% endblock %}
</body>
</html>