<div class="person_card-context_menu">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet blanditiis, earum et exercitationem in iusto, mollitia nemo neque nobis optio quasi sequi unde vel veritatis vitae voluptatibus voluptatum.
    <div class="person_list_btn w_100 invite_person-btn js-invite_btn ">Invite</div>
</div>