<div class="container">
    <div class="employee_container">
        <h2 class="header">Lorem ipsum dolor.</h2>
        <div class="employee_main">
            <div class="item">
                <div class="header">Lorem ipsum dolor.</div>
                <div class="photo">
                    <img src="https://placem.at/people?w=300&h=200&random=5" alt="lorem">
                </div>
                <div class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, enim.</div>
            </div>
            <div class="item">
                <div class="header">Lorem ipsum dolor.</div>
                <div class="photo">
                    <img src="https://placem.at/people?w=300&h=200&random=2" alt="lorem">
                </div>
                <div class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, enim.</div>
            </div>
            <div class="item">
                <div class="header">Lorem ipsum dolor.</div>
                <div class="photo">
                    <img src="https://placem.at/people?w=300&h=200&random=4" alt="lorem">
                </div>
                <div class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, enim.</div>
            </div>
            <div class="item">
                <div class="header">Lorem ipsum dolor.</div>
                <div class="photo">
                    <img src="https://placem.at/people?w=300&h=200&random=3" alt="lorem">
                </div>
                <div class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, enim.</div>
            </div>
        </div>
        <a href="people_list.html" class="btn">To all people <i class="fas fa-angle-double-right"></i></a>
    </div>
</div>