<div class="swiper-container">
    <div class="parallax-bg" data-swiper-parallax="-23%"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <h2>Lorem ipsum dolor.</h2>
            <div class="slider_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis dolorem error ipsa nesciunt obcaecati odio odit provident veniam veritatis.
            </div>
            <div class="btn-outline">Lorem</div>
        </div>
        <div class="swiper-slide">
            <h2>Lorem ipsum dolor.</h2>
            <div class="slider_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis dolorem error ipsa nesciunt obcaecati odio odit provident veniam veritatis.
            </div>
            <div class="btn-outline">Lorem</div>
        </div>
        <div class="swiper-slide">
            <h2>Lorem ipsum dolor.</h2>
            <div class="slider_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis dolorem error ipsa nesciunt obcaecati odio odit provident veniam veritatis.
            </div>
            <div class="btn-outline">Lorem</div>
        </div>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
</div>
<div class="look-further js-scroll-swiper-link"><i class="fas fa-chevron-down"></i></div>
