<li class="approach__item">
    <div class="approach__image">
        <img src="{{ imageSrc }}" alt="picture" class="approach__picture">
        <div class="approach__step">step</div>
    </div>
    <div class="approach__text">
        <div class="approach__title">{{ title }}</div>
        <p class="approach__description">
            {{ desc }}
        </p>
    </div>
</li>