<section class="form-section">
    <div class="container">
        <div class="title">
            <h2 class="title title__header">Get your free facebook analysis now</h2>
            <div class="title__text">Enter your details below</div>
        </div>
        <div class="btn-down js-show_hide_trigger">
            <a href="#" class="arrow-down"><i class="fa fa-angle-down"></i></a>
        </div>
        <div class="form-container is_hidden slideIt js-form_container">
            <form action="#" method="post" class="form">
                <button type="button" class="form__close-button js-form_close">x</button>
                <div class="form__text">
                    Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                </div>
                <div class="form__fields">
                    <input type="text" class="form__input" placeholder="Your Name">
                    <input type="text" class="form__input" placeholder="Contact Number">
                    <input type="text" class="form__input" placeholder="Contact Name">
                </div>
                <button type="submit" class="button button--text-uppercase button--red">Submit new</button>
            </form>
        </div>
    </div>
</section>
