<section class="hero">
    <div class="hero__about">We Providing</div>
    <h1 class="hero__title">Social Media marketing for businesses</h1>
    <a href="#" class="button button--yellow button--text-uppercase">Free consultation</a>
</section>