.form-section {
  padding: 100px 0 110px 0;
  color: #ffffff;
  background-color: #1287bf;

  .title {
    margin-bottom: 12px;
  }

  .title__header {
    font-size: 2.25rem;
  }

  .title__text {
    font-size: 1.25rem;
  }

  .btn-down {
    position: relative;
    cursor:pointer;

    margin: auto auto 25px;
    height: 61px;
    width: 61px;
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: transform .25s ease-in-out;
  }

  .arrow-down {
    @include centerer-xy();
    .fa {
      color:#fff;
      font-size: 2.5rem;
    }
  }

  .form {
    position: relative;
    width: 67%;
    margin: auto;
    padding: 50px 50px 66px 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #828282;
    text-align: center;
    background-color: #ffffff;

    &-container {
      padding-top: 30px;
      overflow:hidden;
    }

    &:before {
      @include centerer-x();
      content: '';
      position: absolute;
      border: 30px solid transparent;
      border-bottom-color: #fff;
      top: -59px;
    }

    &__close-button {
      position: absolute;
      cursor:pointer;
      right: -16px;
      top: -22px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: 2px solid #ffffff;
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
      background: #de2b24;
      transition: 0.3s;

      &:hover {
        background: lighten(#de2b24, 10%);
      }

    }

    .is_error {
      border-color: tomato;
      box-shadow: 0 0 5px 5px tomato;
    }
    &__text {
      margin-bottom: 33px;
      font-size: 0.9375rem;
      line-height: 1.5;
    }

    &__fields {
      margin-bottom: 36px;
    }

    &__input {
      width: 76%;
      display: block;
      margin: auto auto 8px auto;
      padding: 18px 20px;
      border: 1px solid #d8d8d8;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 0.875rem;

      &:focus {
        border: 1px solid #1287bf;
        box-shadow: 0 0 5px rgba(18, 135, 191, 0.66);
      }
    }


    .button {
      padding: 15px 30px;
      border: none;
    }
  }
}

.slideDown form {
  animation-duration: 1.5s;
  animation-name: slideDown;
}

.is_hidden form{
  animation-duration: 1.5s;
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -50%;
  }
}
@keyframes slideDown {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0;
  }
}
