@import './_variables.scss';

body > .header {
  background-color: $primaryOpposite;
  height: 70px;
  color: $textOpposite;
  position: static;
  width: 100%;
  z-index: 1000;
  top: 0;
  transition: top 350ms;

  .logo {
    font-size: 35px;
    color: $textOpposite;
    height: 100%;
    width: 100px;
    text-align: center;
    padding-top: 10px;
  }
  &.hidden {
    top:-100px;
  }
  &[data-is_hide] {
    position:fixed;
  }
}