.swiper-container {
  width: 100%;
  height: 100vh;

  .swiper-slide {
    text-align: left;
    color: $textOpposite;
    padding: 50px;
    margin-top: 50px;
    box-sizing: border-box;

    .slider_text {
      max-width: 50%;
    }
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-image: url("../img/ocean_1.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .btn-outline {
    cursor: pointer;
    font-weight: bolder;
    min-width: 100px;
    display: block;
    padding: 8px;
    text-align: center;
    border: 1px solid $textOpposite;
    border-radius: 2px;
    float: left;
    margin-top: 10px;
    transition: all 250ms;

    &:hover {
      background-color: $primary;
      color: $textPrimary;
    }
  }
}

.look-further {
  text-align: center;
  position: relative;
  z-index: 100;

  i {
    position: absolute;
    font-size: 50px;
    top: -70px;
    color: darken($textOpposite, 30%);
    cursor: pointer;

    &:hover {
      color: darken($textOpposite, 10%)
    }
  }

}
