{# index.twig #}
{% extends "templates/layout.twig" %}

{% block page %}

    <a name="home"></a>
    {% include 'templates/sections/hero.twig' %}
    <a name="about"></a>
    {% include 'templates/sections/about.twig' %}
    <a name="approach"></a>
    {% include 'templates/sections/approach.twig'%}
    <a name="work"></a>
    {% include 'templates/sections/works.twig' %}
    {% include 'templates/sections/form-section.twig' %}
{% endblock %}