{% extends "templates/base.twig" %}

{% block content %}
    <div class="container">
        <h1>People List</h1>
        <div class="people_list_container">
            {% for i in 0..10 %}
                <div class="people_card">
                    <div class="people_img"><img src="http://placem.at/people?w=600&h=400&random=2" alt="lorem"></div>
                    <div class="people_info">
                        <div class="name">Lorem ipsum.</div>
                        <div class="title">Lorem ipsum dolor.</div>
                        <div class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, eveniet?</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
