{% extends "./templates/base.twig" %}

{% block content %}
    <div class="container">
        <div>
            <div class="js-add_person person_list_btn">Add</div>
            <h1>People List</h1>
        </div>
        <div class="search_container js-search_container">
            <label><input type="search" name="people_search" placeholder="Search by name"/></label>
        </div>
        <div class="people_list_container">

        </div>
    </div>
{% endblock %}
